
.header {
    position: flex;
    left: 0;
    right: 0;
    top: 0;
    border: 0;
    background: rgba(213, 191, 191, 0.3);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 500px;
}
.header-img{
    
    padding: 29px 0px;
    background-color: rgb(196, 224, 234);
}

.item-header {
   margin-right: 20px;
}
.login-item {
    background-color: #fff;
    padding: 20px;
}

.login-item {
    display: flex;
    justify-content: space-between;
}   

.item-header button {
    padding: 10px 90px;
    margin-top: 10px;
    background-color: rgb(239, 122, 122);
    color: #fff;
}
.item-header button:hover{
    background-color:rgb(226, 35, 35) ;
}
.main-form input {
    padding: 10px 80px 10px 5px;
}

.item-header ul {
    text-emphasis: none;
    list-style: none;
    padding: 0;
}

