.header {
    
    position: flex;
    left: 0;
    right: 0;
    top: 0;
    border: 0;
    background: rgba(103, 167, 209, 0.3);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 500px;
}
.header-title{
    color: rgb(159, 87, 35);
    text-align: center;
    font-size: 40px;
    
}

.header-form {
    padding: 0 40px;
    margin-top: 20px;
}
.text {
    color: rgb(179, 115, 72);
    margin-bottom: 30px;
    font-weight: 900;
}
.form-item {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 400px;
    background-color: #f2f2f2;
}
.main-text {
    display: block;
    width: 400px;
    height: 25px;
    margin-bottom: 17px;
    padding: 0;
    margin-top: 20px;
}

.input-gender {
    display: inline;
    margin-right: 5px;

}

.input-item button {
    display: block;
    width: 404px;
    padding: 5px;
    margin-top: 20px;
}

.input-comment {
    width: 397px;
    height: 50px;
    margin-top: 5px;
    
}

.button-item  {
    display:flex;
    width: 50px;
    margin-left: 230px;
}

 button {
    padding: 20px;
    margin-right: 10px;
}

.button-submit {
    background-color: #92938e;
    color: #fff;
    
}
.button-reset {
    background-color: #92938e;
    color: #fff;
}
.button-submit:hover{
    background-color: chocolate;
}
    
.button-reset:hover{
    background-color: chocolate;
}